{% load static %}
{% load dict_filters %}
{% load video_filters %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Видео платформа</title>
    <link rel="stylesheet" href="{% static 'styles/fonts.css' %}"/>
    <link rel="stylesheet" href="{% static 'styles/variables.css' %}"/>
    <link rel="stylesheet" href="{% static 'styles/style-favourites.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
</head>
<body>

<section class="sidebar">
    <nav class="sidebar__nav">
        <ul class="sidebar__list">
            <li class="sidebar__item"><span class="sidebar__logo">Добро</span></li>
            <li class="sidebar__item"><i class="material-icons">home</i><span><a href="{% url 'accounts:dashboard' %}">Главная</a></span>
            </li>
            <li class="sidebar__item"><i class="material-icons">star</i><span><a href="{% url 'videos:favorites' %}">Избранное</a></span>
            </li>
            <li class="sidebar__item"><i class="material-icons">history</i><span><a href="{% url 'videos:history' %}">История просмотров</a></span>
            </li>
            <li class="sidebar__item"><i class="material-icons">watch_later</i><span><a href="{% url 'videos:later' %}">Посмотреть позже</a></span>
            </li>
            <li class="sidebar__item"><i class="material-icons">person</i><span><a href="{% url 'accounts:profile' %}">Профиль</a></span>
            </li>
        </ul>
    </nav>
</section>

<section class="main">
    <div class="top-bar">
        <h1 class="header">Избранное</h1>
        <div class="filters">
            <select class="btn btn-search">
                <option value="">Категория</option>
                <option>Комедии</option>
                <option>Драмы</option>
                <option>Мелодрамы</option>
                <option>Ужасы</option>
                <option>Боевики</option>
                <option>Фантастика</option>
            </select>
        </div>
    </div>

    <div class="video-grid">
        {% for video in videos %}
        <div class="video-card">
            <img src="https://img.youtube.com/vi/{{ video.youtube_url|youtube_id }}/hqdefault.jpg"
                 alt="{{ video.title }}">
            <div class="info">
                <h4>{{ video.title }}</h4>
                <span>{{ video.category }}</span>
                <button class="btn btn-card"
                        onclick="openModal(
            '{{ video.title }}',
            'https://img.youtube.com/vi/{{ video.youtube_url|youtube_id }}/hqdefault.jpg',
            '{{ video.year }}',
            '{{ video.description|escapejs }}',
            '{{ video.age_limit }}',
            '{{ video.category }}',
            '{{ video.duration }}',
            'https://www.youtube.com/watch?v={{ video.youtube_url|youtube_id }}',
            {{ video.id }}
        )">
                    Подробнее
                </button>
            </div>
        </div>
        {% empty %}
        <p>Нет избранных видео.</p>
        {% endfor %}
    </div>

    <div class="modal" id="videoModal">
        <div class="modal-content">
            <img id="modalImage" src="" alt="Картинка">
            <h2 id="modalTitle"></h2>
            <p><strong>Год:</strong> <span id="modalYear"></span></p>
            <p><strong>Описание:</strong> <span id="modalDescription"></span></p>
            <p><strong>Возраст:</strong> <span id="modalAge"></span></p>
            <p><strong>Категория:</strong> <span id="modalCategory"></span></p>
            <p><strong>Длительность:</strong> <span id="modalDuration"></span></p>
            <div class="modal-actions">
                <i class="material-icons" title="Лайк">thumb_up</i>
                <i class="material-icons" title="Избранное">star_border</i>
                <i class="material-icons" id="modalWatchLaterBtn" title="Смотреть позже">watch_later</i>
            </div>
            <div class="buttons">
                <button onclick="closeModal()">Закрыть</button>
                <button>Смотреть фильм</button>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'script/script-favourites.js' %}"></script>
</body>
</html>